LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 3, 0, 704
PRODUCTVERSION 1, 3, 0, 704
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Season's Fall Music\000"
      VALUE "FileDescription", "OTAIntfSearch: An application to allow you to search interfaces / classes and method properties for matching text.\000"
      VALUE "FileVersion", "1.3.0.704\000"
      VALUE "InternalName", "OTAIntfSearch\000"
      VALUE "LegalCopyright", "Season's Fall Music\000"
      VALUE "LegalTrademarks", "Season's Fall Music\000"
      VALUE "OriginalFilename", "OTAIntfSearch\000"
      VALUE "ProductName", "OTAIntfSearch\000"
      VALUE "ProductVersion", "1.3\000"
      VALUE "Comments", "OTAIntfSearch: An application to allow you to search interfaces / classes and method properties for matching text.\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
